.layout {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, auto);
  gap: 1rem;
  padding: 2rem;
  margin: auto;
  grid-template-areas:
    "welcome welcome welcome about"
    "welcome welcome welcome about"
    "welcome welcome welcome about"
    "contact projects interests about"
    "now projects interests about";
}

.welcome {
  grid-area: welcome;
}
.about {
  grid-area: about;
}
.contact {
  grid-area: contact;
}
.projects {
  grid-area: projects;
}
.interests {
  grid-area: interests;
}
.animation {
  grid-area: animation;
}
.now {
  grid-area: now;
}

/* Medium screens (tablets) */
@media (max-width: 1023px) {
  .layout {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "welcome welcome welcome"
      "about projects projects"
      "about interests interests"
      "contact now now";
  }
}

/* Small screens (mobile) */
@media (max-width: 600px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "welcome"
      "about"
      "contact"
      "projects"
      "interests"
      "now";
  }
}
