.layout {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  padding: 2rem;
  margin: auto;
  grid-template-areas:
    "welcome welcome welcome about"
    "welcome welcome welcome about"
    "welcome welcome welcome about"
    "contact projects interests about"
    "contact projects interests about"
    "animation animation animation now";
}

.panel {
  background: var(--dark-4);
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  transition: 0.1s ease-in-out;
  overflow: hidden;
}

.panel:hover {
  border: 1px solid #5dacd6;
}

.welcome {
  grid-area: welcome;
}
.about {
  grid-area: about;
}
.contact {
  grid-area: contact;
}
.projects {
  grid-area: projects;
}
.interests {
  grid-area: interests;
}
.animation {
  grid-area: animation;
}

/* Medium screens (tablets) */
@media (max-width: 1023px) {
  .layout {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "welcome welcome welcome"
      "welcome welcome welcome"
      "welcome welcome welcome"
      "about projects projects"
      "about interests interests"
      "contact animation now";
  }
}

/* Small screens (mobile) */
@media (max-width: 600px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "welcome"
      "about"
      "contact"
      "projects"
      "interests"
      "now"
      "animation";
  }
}
