* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  word-spacing: 0.1rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-1: #0b0b0b;
  --dark-2: #0e0e0e;
  --dark-3: #141414;
  --dark-4: #171717;
  --dark-5: #383838;
  --dark-6: #505050;
  --border: #393939;
}

h2 {
  font-size: 1rem;
  color: var(--dark-6);
}

a {
  font-weight: 500;
  color: #5dacd6;
  text-decoration: inherit;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #0488cf;
}

body::before {
  --dot-color: var(--dark-5);
  --grid-size: 30px;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: radial-gradient(circle, var(--dot-color) 2px, transparent 2px);
  pointer-events: none;
  mask: linear-gradient(-360deg, transparent 10%, black);
  background-size: var(--grid-size) var(--grid-size);
}

body,
#root {
  min-height: 100vh;
}

.list-inside {
  list-style-position: inside;
  list-style-type: square;
}

ul.list-hyp {
  list-style-type: none;
  padding-left: 0;
}

ul.list-hyp li::before {
  content: "-";
  margin-right: 0.5em;
}
